.progress-bar-container {
  width: 300px;
  height: 20px;
  border: 2px solid #9cd4eb;
  margin: 20px;
  background-image: linear-gradient(to right, #0077ff, #00ff77);
}

.progress-bar {
  height: 100%;
  background-color:rgb(229, 240, 136);
  animation: progress 5s linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}